<div id="blueMain">
    <div id="sMain"></div>
    <div id="kMain">
        <div id="whiteblock">
            <div id="whiteS"></div>
            <div id="whiteK" dir="rtl">
                <div style="margin-right:5px;">
                    <div style="color:#3ebef1;
font-size:22px;
font-weight:bold;
float:right;">אודות
                    </div>
                    <br style="clear:both;">
                    <br>

                    <div dir="rtl" style="">
                        <strong style="font-size: 12px;"><u style="">מי אנחנו:</u></strong><br>
                        <span dir="ltr" style="font-size: 12px;">&nbsp;DCOM</span><span style="font-size: 12px;">(דיקום נ.ד בע"מ) הינה חברה המתמחה בתחום שירותי מחשוב, רשתות ואינטגרציה למגזר העסקי.</span>
                    </div>
                    <div dir="rtl" style="">
                        <span style="font-size: 12px;">החברה הוקמה בשנת 2003 מתוך הבנת הצרכים הטכנולוגיים של המגזר העסקי בשוק.</span>
                    </div>
                    <div dir="rtl" style="">
                        <span style="font-size: 12px;">מוצר הדגל של החברה היא השירות האמין והמקצועי, והידע הרב שנצבר עם השנים.</span>
                    </div>
                    <div dir="rtl" style="">
                        <span style="font-size: 12px;">עיקר פעילותנו מבוססת על מתן שירותים ללקוחותינו הקבועים אשר נהנים מלווי מקצועי צמוד,של צוות המומחים שלנו לאורך שנים.</span>
                    </div>
                    <div dir="rtl" style="">
                        <span style="font-size: 12px;">אנו מציעים חבילה כוללת של ניהול המידע&nbsp;בארגון, הכוללת יעוץ והטמעה ופתרון לתמיכה ושירות לאורך זמן.</span>
                    </div>
                    <div dir="rtl" style="">
                        <span style="font-size: 12px;">אנחנו כאן כדי ללמוד על פעילותיך העסקיים, לספק לך את הכלים המתאימים ואת התמיכה הנחוצה לך</span><span
                            dir="ltr" style="font-size: 12px;">&nbsp;</span><span
                            style="font-size: 12px;">להשגת מטרותיך</span><span dir="ltr"
                                                                               style="font-size: 12px;">.</span></div>
                    <div dir="rtl" style="">
                        &nbsp;</div>
                    <div dir="rtl" style="">
                        <strong style=""><u style=""><strong style="font-size: 12px;"><u style="">ב </u></strong><strong
                                style="font-size: 12px;"><u style=""><span dir="ltr">DCOM</span></u></strong><strong
                                style="font-size: 12px;"><u style="">&nbsp;אנו מאמינים:</u></strong></u></strong></div>
                    <div dir="rtl" style="">
                        <strong style=""><u style=""><span style="display: none;">&nbsp;</span></u></strong><span
                            style="display: none;">&nbsp;</span></div>
                    <div dir="rtl" style="">
                        <span style="font-size: 12px;">שבכל חברה קיים&nbsp;</span><span style="font-size: 12px;">משאב יקר ערך אשר סביבו מונעת פעילותה העסקית של החברה. זהו המידע שברשותו - תוצאה מצטברת של עבודה קשה של החברה לאורך שנים.</span>
                    </div>
                    <div dir="rtl" style="">
                        <span style="font-size: 12px;">מידע חשוב זה מאוחסן ומעובד במערכות מחשוב שברשות החברה. ניתן לומר בודאות שהצלחתם של חברות רבות תלויה במידה רבה באיכות ובניצול נכון של טכנולוגיות שברשותן.</span>
                    </div>
                    <div dir="rtl" style="">
                        <span style="font-size: 12px;">ב </span><span dir="ltr"
                                                                      style="font-size: 12px;">DCOM</span><span
                            style="font-size: 12px;">&nbsp;א</span><span
                            style="font-size: 12px;">נו מודעים לאחריות הכ</span><span style="font-size: 12px;">בדה אשר מוטלת עלינו - לספק את צרכיהם המקצועיים של לקוחותינו בצורה המקצועית והמקיפה </span><span
                            style="font-size: 12px;">ביותר.</span></div>
                    <div dir="rtl" style="">
                        &nbsp;</div>
                    <div dir="rtl" style="">
                        <strong style=""><u style=""><strong style="font-size: 12px;"><u style="">החזון
                            שלנו:</u></strong></u></strong></div>
                    <div dir="rtl" style="">
                        <strong style=""><u style=""><span style="display: none;">&nbsp;</span><span
                                style="display: none;">&nbsp;</span></u></strong><span
                            style="display: none;">&nbsp;</span></div>
                    <div dir="rtl" style="">
                        <span style="font-size: 12px;">חזון החברה היא להוביל חזית טכנולוגית מתקדמת, אשר תפתח בפני לקוחותינו אפשרויות רבות יותר למימוש נכון של יעדיהם העסקיים, לפריסה נכונה והיעילה ביותר של מערכות המידע הארגוניות שברשותם. אנו דואגים לשקט תעשייתי ללקוחותינו,&nbsp;סביבת עבודה נוחה, יעילה ובטו</span><span
                            style="font-size: 12px;">חה.</span></div>
                    <div dir="rtl" style="">
                        <span style="font-size: 12px;">כמומחי מחשוב, שמנו לנו למטרה לספק ללקוחותינו סל שירותים רחב ואיכותי, צוות מקצועי ומיומן, בכדי לתת לך, כלקוח דיקום, להפנות את הזמן והאנרגיה להשגת המטרות&nbsp;העסקיות של ארגונך.</span>
                    </div>
                    <div dir="rtl" style="">
                        &nbsp;</div>
                    <div dir="rtl" style="">
                        <strong style=""><u style=""><strong style="font-size: 12px;"><u style="">ההון
                            האנושי:</u></strong></u></strong><br>
                        <span style="font-size:12px;">כחברת המבוססת על מתן שירות, אנו מבינים את חשיבות השירותיות של אנשי ה- IT לכן, בשורותינו מועסקים מומחי מחשוב&nbsp;בעלי הסמכות&nbsp;במגוון תחומים, ניסיון רלוונטי בשוק המחשוב ובמתן שירות ללקוחות עסקיים. אי לכך ובהתאם לזאת, אנו&nbsp;משקיעים משאבים רבים בגיוס איכותי, בהכשרה שירותית ומקצועית של הצוות.</span><br>
                        &nbsp;</div>
                    <div dir="rtl" style="">
                        <strong style=""><u style=""><strong style="font-size: 12px;"><u style="">שירות אמין ומקצועי
                            כסוד להצלחה:</u></strong></u></strong></div>
                    <div dir="rtl" style="">
                        <strong style=""><u style=""><span style="display: none;">&nbsp;</span></u></strong></div>
                    <div dir="rtl" style="">
                        <span style="font-size:12px;">כחלק בלתי נפרד מעבודתנו אנו נדרשים לספק שירות ותמיכה באופן שוטף למערכות המחשוב ולציוד&nbsp;שסופק והוטמע אצל לקוחותינו השונים. בהתאם לזאת, חשוב לנו מאוד לספק ללקוחותינו מוצרים איכותיים ואמינים ופתרונות מתאימים מהיצרנים המובילים בתחום.&nbsp;<strong
                                style="">סוד ההצלחה</strong> שלנו היא&nbsp;למידת השוק והטכנולוגיה המשתנה, תוך שיתוף פעולה עם יצרנים מובילים ובייחוד צוות שירותי, מקצועי ויעיל, מובילה&nbsp;לשיתוף פעולה מתמשך ופורה עם לקוחותינו לאורך השנים.</span>
                    </div>
                    <span style="display: none">&nbsp;</span></div>
                <div style="clear:both;"></div>
            </div>
            <div id="whiteE"></div>
        </div>

        <div class="bottomBlock">
        </div>
        <div class="bottomBlock">
        </div>

        <div style="clear:both"></div>
    </div>
    <div id="eMain"></div>
</div>
