<div id="blueMain" dir="rtl">
    <div id="sMain"></div>
    <div id="kMain">
        <div id="whiteblock">
            <div id="whiteS"></div>
            <div id="whiteK">
                <div style="margin-right:5px;">
                    <div style="color:#3ebef1;
font-size:22px;
font-weight:bold;
float:right;">אנטי ספאם מנוהל- Mail Filter</div>
                    <br style="clear:both;">
                    <br>
                    <div style="margin-right:15px; margin-left:15px;">
                        <div dir="rtl">
                            <strong style=""><u style="">הפתרון המושלם לסינון חיצוני של SPAM&nbsp;</u></strong><strong style=""><u style="">והגנה על שרתי דואר</u></strong></div>
                        <ul>
                            <li dir="rtl" style="text-align: right;">
                                מערכת חיצונית (שירות) לסינון דואר זבל, דואר נגוע בוירוסים ומזיקים שונים<br>
                                טרם הגעתם לתיבות המייל של המשתמשים או לשרת הדואר הארגוני.</li>
                            <li dir="rtl" style="text-align: right;">
                                הגנה על מערכת EMAIL&nbsp;של הארגון.</li>
                            <li dir="rtl" style="text-align: right;">
                                חסכון ברוחב פס לאינטרנט- הארגון מקבל רק את המיילים הרלוונטיים לאחר סינון&nbsp;ובכך חוסך בתעבורה מיותרת על גבי קו האינטרנט שלו.</li>
                            <li dir="rtl" style="text-align: right;">
                                סינון SPAM&nbsp;ווירוסים ברמה של 99% הצלחה ע"י מספר מנועי הגנה וסינון.</li>
                            <li dir="rtl" style="text-align: right;">
                                יכולת ניהול רשימות וחוקים ברמת ארגון וברמת משתמש בודד.</li>
                            <li dir="rtl" style="text-align: right;">
                                דוחות לכל משתמש.</li>
                            <li dir="rtl" style="text-align: right;">
                                אפשרות לניהול עצמי של מנהל&nbsp;מחשוב של הלקוח.</li>
                            <li dir="rtl" style="text-align: right;">
                                שחרור מיילים מחסימה לפי צורך.</li>
                            <li dir="rtl" style="text-align: right;">
                                תמיכה מלאה וזמינות גבוהה של המערכת.</li>
                            <li dir="rtl" style="text-align: right;">
                                גיבוי שרת דואר בעת תקלה- המערכת מקבלת דואר ושומרת עד לעליית השרת.</li>
                            <li dir="rtl" style="text-align: right;">
                                אפשרות לגיבוי ושמירת מיילים עד 7 שנים.</li>
                            <li dir="rtl" style="text-align: right;">
                                חסכון במשאבי השרת הארגוני- השרת אינו עסוק בסינון דואר.</li>
                            <li dir="rtl" style="text-align: right;">
                                חסכון ברכישת מערכת ובעלויות ניהול מערכת פנים אירגונית.</li>
                            <li dir="rtl" style="text-align: right;">
                                &nbsp;תשלום פר תיבת מייל.<br>
                                <br>
                                <img alt="Anti Spam" src="http://dcom.co.il/upload/antispam1.jpg" style="width: 284px; height: 177px"></li>
                        </ul>
                        <br>
                        <div style=" float: right;">
                            <a ui-sref="contactus">
                                <img alt="צור קשר" src="/modules/images/contactus.png"
                                     class="contactus"></a>
                        </div>
                        <div style=" float: right;margin-top: 73px;">
                           <span dir="rtl"><span dir="rtl"><strong><span style="color: #0000ff">&nbsp;
                                        <a>לקבלת פרטים נוספים והצעת
                                            מחיר</a>
                           </span>
                           </strong>
                           </span>
                           </span>
                        </div>
                        <div style="clear: both;"></div>
                        <br>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div id="whiteE"></div>
        </div>
        <div class="bottomBlock">

        </div>
        <div class="bottomBlock">
        </div>
        <div class="bottomBlock">
        </div>

        <div style="clear:both"></div>
    </div>
    <div id="eMain"></div>
</div>
