<div id="blueMain" dir="rtl">
    <div id="sMain"></div>
    <div id="kMain">
        <div id="whiteblock">
            <div id="whiteS"></div>
            <div id="whiteK">
                <div style="margin-right:5px;">
                    <div style="color:#3ebef1;
font-size:22px;
font-weight:bold;
float:right;">שירות ותמיכה לעסקים</div>
                    <br style="clear:both;">
                    <br>
                    <div style="margin-right:15px; margin-left:15px;">
                        <div dir="rtl" style="">
                            עיקר פעילותה של חברת&nbsp;<span dir="ltr">NETFIX&nbsp;</span><span face="" style=""> מיום הקמתה מבוססת על שירות ותמיכה למגזר העסקי</span>.<br style="">
                            ב NETFIX אנו מספקים<span face="" style="">&nbsp;ללקוחותינו מגוון חבילות לשירות ותמיכה למערכות המחשוב הארגוניות.<br style="">
	מנסיון של שנים עם לקוחות עסקיים אנו מבינים כי לכל לקוח צרכים שונים, ולכן&nbsp; חבילות השירות שלנו גמישות מאוד ומותאמות<br style="">
	בדיוק לצרכי הלקוח.<br style="">
	אפיון מדויק של צרכי לקוח, והתאמה נכונה של מסלול שירות מביאות לחסכון כלכלי ויעול מערכות המחשוב הארגוניות.<br style="">
	<br style="">
	<strong>חבילות השירות והתמיכה כוללות בין היתר:</strong><br style="">
	בדיקת מערכות ואפיון צרכי לקוח.<br style="">
	שירותי מוקד לתמיכה וטיפול בתקלות בחיבור מרוחק ובטלפון.<br style="">
	ביקור מנהל מהנדס רשתות וסיסטם באתר הלקוח&nbsp;לביקורת מערכות וטיפול מונע.<br style="">
	מערך טכנאים בשטח לתקלות מחוץ למועדי הביקור. (SOS)<br style="">
	זמינות למקרה של תקלות קריטיות מחוץ לשעות העבודה.<br style="">
	זמני תגובה מהירים בהתאם להסכם השירות.<br style="">
	שירותי מעבדה כולל איסוף והחזרה ללקוח.<br style="">
	יעוץ וליווי צמוד בנושאי מחשוב וטכנולוגיות מידע.<br style="">
	קשר עם&nbsp;ספקי צד שלישי הקשורים למערכות המידע.<br style="">
	ניהול תיק אתר.<br style="">
	<br style="">
	<strong style="">&nbsp;ב NETFIX תמיד יש למי לפנות.</strong></span><br style="">
                            <br style="">
                            אנו דוגלים ביחסים ארוכי תווך עם לקוחותינו ולכן' אנו משקיעים מאמץ רב בשמירה על&nbsp;איכות גבוהה של שירות.<br>
                            עבורנו זוהי זכות לתת שירות טוב.<br style="">
                            נשמח לראותכם בין לקוחותינו.</div>
                        <br>
                        <br>
                        <div style=" float: right;">
                            <a ui-sref="contactus">
                                <img alt="צור קשר" src="/modules/images/contactus.png"
                                     class="contactus"></a>
                        </div>
                        <div style=" float: right;margin-top: 73px;">
                           <span dir="rtl"><span dir="rtl"><strong><span style="color: #0000ff">&nbsp;
                                        <a>לקבלת פרטים נוספים והצעת
                                            מחיר</a>
                           </span>
                           </strong>
                           </span>
                           </span>
                        </div>
                        <div style="clear: both;"></div>
                        <br>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div id="whiteE"></div>
        </div>
        <div class="bottomBlock">

        </div>
        <div class="bottomBlock">
        </div>
        <div class="bottomBlock">
        </div>

        <div style="clear:both"></div>
    </div>
    <div id="eMain"></div>
</div>
