<div id="blueMain">
    <div id="sMain"></div>
    <div id="kMain">
        <div id="whiteblock">
            <div id="whiteS"></div>
            <div id="whiteK">
                <div style="margin-right:5px;">
                    <div style="color:#3ebef1;
font-size:22px;
font-weight:bold;
float:right;"></div>
                    <br style="clear:both;">
                    <br>
                    <div class="page-text">
                        <h3>יצירת קשר</h3>
                        הצוות שלנו עושה מאמצים רבים כדי לספק לכם את השירות הטוב ביותר.<br>
                        אתם מוזמנים ליצור איתנו קשר בכל נושא.<br>
                        כתובת המשרד: וולפברג 2 חדרה. (מכתבים יש לשלוח לת.ד בלבד)<br>
                        <br>
                        <strong><u>מען למכתבים</u><br>
                            וולפברג 2 חדרה</strong><br>
                        <br>
                        <strong>טל:&nbsp;&nbsp; &nbsp;0547773554&nbsp;<br>

                            מייל:&nbsp; <a href="mailto:eli@netfix.co.il">eli@netfix.co.il </a><br>
                            <br>
                            נשמח לעמוד לשירותכם.</strong>						<div class="clear"></div>


                    </div>
                    <div class="clear"></div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div id="whiteE"></div>
        </div>

        <div class="bottomBlock">
        </div>
        <div class="bottomBlock">
        </div>

        <div style="clear:both"></div>
    </div>
    <div id="eMain"></div>
</div>
