<div>
    <div id="container css3gradient" dir="ltr" style="z-index: 9;
    border: 6px solid #DFEAF1;
    border-radius: 20px;
    margin-left: 30px;
    margin-bottom: 10px;"><!--start menu-->
        <ul class="nav " style="z-index: 9">

            <li><a ui-route="/">דף הבית</a></li>
            <li><a ui-sref="about">אודות החברה</a></li>
            <li class="right dropdown"><a href="">שירותים</a>
                <ul>
                    <li><a ui-sref="outSource">Out Sourcing</a></li>
                    <li><a ui-sref="improve">הקמה ושדרוג מערכות מחשוב
                        ורשתות.</a></li>
                    <li><a ui-sref="businessSupport">תמיכה ושירות לעסקים</a></li>
                    <li><a ui-sref="sequrity">שירותי אבטחת מידע</a></li>
                    <li><a ui-sref="projects">ניהול וביצוע פרויקטים</a></li>
                    <li><a ui-sref="scanNetwork">סקירת רשת ומערכת מחשוב</a></li>
                    <li><a ui-sref="scanManage">ניהול מערכות מחשוב ורשתות</a>
                    </li>
                </ul>
            </li>
            <li class="right dropdown"><a href="">פתרונות \ ענן </a>
                <ul>
                    <li class="dropdown"><a href="">ענן ושירותים מנוהלים</a>
                        <ul>
                            <li><a ui-sref="mailServer">פתרונות שרת דואר ארגוני מנוהל</a></li>
                            <li><a ui-sref="virtualServers" >שרתים וירטואליים בענן</a></li>
                            <li><a ui-sref="antiSpam">אנטי ספאם מנוהל</a></li>
                            <li><a ui-sref="recovery">תקשורת ואבטחת מידע מנוהלים</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="http://www.dcom.co.il/17.service">שרתים ארגוניים</a>
                        <ul>
                            <li><a href="http://www.dcom.co.il/15.service">Dell Rack Servers</a></li>
                            <li><a href="http://www.dcom.co.il/16.service">Dell Tower servers</a></li>
                        </ul>
                    </li>
                    <li><a href="http://www.dcom.co.il/18.service">פתרונות גיבוי והתאוששות מאסונות</a></li>
                </ul>
            </li>
            <li class="right dropdown"><a href="http://www.dcom.co.il/תמיכה.html">תמיכה </a>
                <ul>
                    <li><a href="http://www.dcom.co.il/Articles.service">מאמרים</a></li>
                    <li><a href="http://tevelsoft.co.il/dcom/">קריאות שירות- לקוחות</a></li>
                </ul>
            </li>
            <li class="right dropdown"><a href="http://www.dcom.co.il/contact.php">צור קשר</a>
                <ul>
                    <li><a href="http://www.dcom.co.il/20.service">דרושים</a></li>
                    <li><a href="http://tevelsoft.co.il/m/login.asp">כניסה לטכנאים</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--<div class="container" data-ng-controller="HeaderController">-->
<!--<div class="navbar-header">-->
<!--<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--<a href="/#!/" class="navbar-brand">netfix</a>-->
<!--</div>-->
<!--<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">-->
<!--<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">-->
<!--<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">-->
<!--<a ng-switch-when="dropdown" class="dropdown-toggle">-->
<!--<span data-ng-bind="item.title"></span>-->
<!--<b class="caret"></b>-->
<!--</a>-->
<!--<ul ng-switch-when="dropdown" class="dropdown-menu">-->
<!--<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">-->
<!--<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>-->
<!--</li>-->
<!--</ul>-->
<!--<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>-->
<!--</li>-->
<!--</ul>-->
<!--<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">-->
<!--<li ui-route="/signup" ng-class="{active: $uiRoute}">-->
<!--<a href="/#!/signup">Sign Up</a>-->
<!--</li>-->
<!--<li class="divider-vertical"></li>-->
<!--<li ui-route="/signin" ng-class="{active: $uiRoute}">-->
<!--<a href="/#!/signin">Sign In</a>-->
<!--</li>-->
<!--</ul>-->
<!--<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">-->
<!--<li class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>-->
<!--</a>-->
<!--<ul class="dropdown-menu">-->
<!--<li>-->
<!--<a href="/#!/settings/profile">Edit Profile</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="/#!/settings/accounts">Manage Social Accounts</a>-->
<!--</li>-->
<!--<li data-ng-show="authentication.user.provider === 'local'">-->
<!--<a href="/#!/settings/password">Change Password</a>-->
<!--</li>-->
<!--<li class="divider"></li>-->
<!--<li>-->
<!--<a href="/auth/signout">Signout</a>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</nav>-->
<!--</div>-->
