<style>
    .peopleCarouselImg img {
        width: 60%;
        height: 300px;
        max-height: 300px;;
    }

    .carousel-control.right, .carousel-control.left {
        background: none;
    }
</style>
<section data-ng-controller="HomeController">
    <div class="row">


        <!--<div style="height: 305px" class="peopleCarouselImg">-->
        <!--<uib-carousel interval="myInterval" no-wrap="noWrapSlides">-->
        <!--<uib-slide ng-repeat="slide in slides" active="slide.active">-->
        <!--<img ng-src="{{slide.image}}" style="margin:auto;">-->
        <!--<div class="carousel-caption">-->
        <!--&lt;!&ndash;<h4>Slide {{$index}}</h4>&ndash;&gt;-->
        <!--&lt;!&ndash;<p>{{slide.text}}</p>&ndash;&gt;-->
        <!--</div>-->
        <!--</uib-slide>-->

        <!--</uib-carousel>-->
        <!--</div>-->

    </div>
    <!--<div class="jumbotron text-center">-->
    <!--<div class="row">-->
    <!--<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">-->
    <!--<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png"/>-->
    <!--</div>-->
    <!--</div>-->
    <!--<br>-->

    <!--<div class="row">-->
    <!--<p class="lead">-->
    <!--Open-Source Full-Stack Solution For MEAN Applications-->
    <!--</p>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<p>-->
    <!--<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail"
                 style="height: 145px;background-image: url('/modules/images/1.jpg'); background-size: cover;">
                <!--<img src="/modules/images/1.jpg">-->
            </div>
            <strong style="text-decoration: underline">חשוב שיהיה לך גוף מקצועי לסמוך עליו</strong>

            <div>
	<span style="font-size: 12px">הצוות המקצועי שלנו עומד לרשותך&nbsp;כדי לתת&nbsp; את התמיכה&nbsp;הנחוצה לארגונך ולהבטיח לך שקט תעשייתי .<br>
	ב NETFIX&nbsp;אנחנו מאמינים בשירות&nbsp;מקצועי ,מהיר ויעיל ללא בירוקרטיה מיותרת&nbsp;.מאחורינו כ 10 שנות פעילות ומתן שירות ללקוחות עסקיים ,ולמידה מתמדת של צרכי הלקוחות והחידושים הטכנולוגיים בשוק המחשוב.<br>
	אנו עושים כל שביוכלתנו כדי לשמור על לקוחות מרוצים - וזהו סוד הקשר העמוק והמתמיד שלנו עם הלקוחות לאורך השנים.</span>
            </div>
            <p>
                <span style="color: #0066ff">
                    <strong>&gt; &nbsp;</strong></span>
                    <strong>
                        <span style="font-size: 12px">
                            <span style="font-family: arial, helvetica, sans-serif">
                                <a ui-sref="businessSupport"><span style="color:#0000ff;">מסלולי תמיכה ושירות לעסקים</span></a></span><a
                    href=""><span
                    style="color:#0000ff;">.</span></a><br>
	<span style="color: #0066ff">&gt; &nbsp;</span><a ui-sref="outSource"><span
                        style="color:#0000ff;">Out sourcing למשרה חלקית ומלאה.</span></a></span></strong><br>
                <strong><span style="font-size: 12px;"><span style="color: rgb(0, 102, 255);">&gt; &nbsp;</span></span></strong><strong><span
                    style="font-size: 12px"><a href="http://www.dcom.co.il/21.service"><span style="color:#0000ff;">מוקד תמיכה ושירות.</span></a><br>
	<span style="color: #0066ff">&gt;&nbsp; </span><span style="color:#0000ff;">תמיכה (Secound Level) למנהלי מחשוב<br>
	&nbsp;&nbsp; &nbsp;פנים ארגוניים.</span></span></strong></p>
        </div>
        <div class="col-md-4">
            <div class="thumbnail"
                 style="height: 145px;background-image: url('/modules/images/2.jpg'); background-size: cover;">
                <!--<img src="/modules/images/1.jpg">-->
            </div>
            <strong style="text-decoration: underline">קניה נכונה מלוות באפיון צרכים מדויק</strong>

            <div>
	<span style="font-size: 12px">לא משנה באיזה פתרון תבחר , בין אם שרתים פיזיים בעסק  ,שרת וירטואלי או שרתים בענן , בכל המקרים
כדאי שתקבל יעוץ ואפיון מדויק ממומחה . בעולם השרתים ומערכות המחשוב לכל עסק יש את  הצרכים שלו .
לכן התקנה או החלפת שרתים מכל סוג מחייבת בדיקה יסודית ,ואפיון צרכים מדויק של הלקוח .</span>
            </div>
            <p>
                <strong><span style="font-size: 12px"><span style="font-family: arial, helvetica, sans-serif"><span
                        style="color:#0000ff;">&gt;&nbsp; </span><a
                        href="http://www.dcom.co.il/סקירת-מערכות.service"><span style="color:#0000ff;">שירותי יעוץ מומחה ואפיון צרכים.</span></a><br>
	<span style="color:#0000ff;">&gt; &nbsp;</span><a href="http://www.dcom.co.il/17.service"><span
                            style="color:#0000ff;">מגון שרתים בתצורות שונות לפי אפיון מדויק ללקוח</span></a><span
                            style="color:#0000ff;">.<br>
	&gt;&nbsp; פתרונות אחסון וגיבוי.<br>
	&gt;&nbsp; מערכות וירטואליזציה.<br>
	&gt;&nbsp; </span><a href="http://www.dcom.co.il/הקמה-ושדרוג-שרתים-ורשתות.service"><span style="color:#0000ff;">פתרונות הקמה שדרוג&nbsp;מערכות&nbsp;</span></a><span
                            style="color:#0000ff;">.</span></span><br>
	<span style="font-family: arial, helvetica, sans-serif"><span style="color:#0000ff;">&gt;&nbsp; </span><a
            href="http://www.dcom.co.il/10.service"><span style="color:#0000ff;">פתרונות לשרתים בענן.</span></a><br>
	<span style="color:#0000ff;">&gt;&nbsp; </span><a ui-sref="recovery"><span
                style="color:#0000ff;">רכישת&nbsp;שירותי דואר ארגוני מנוהל.</span></a></span></span></strong></p>
        </div>
        <div class="col-md-4">
            <div class="thumbnail"
                 style="height: 145px;background-image: url('/modules/images/3.jpg'); background-size: cover;">
                <!--<img src="/modules/images/1.jpg">-->
            </div>
            <strong style="text-decoration: underline">האם המידע שלך בעסק שמור ומוגן מספיקו</strong>

            <div>
	<span style="font-size: 12px">אחת השאלות שמעסיקות רבות את נהלי החברות ומנמ"רים רבים זה האם המידע העסקי במערכות המחשוב
הארגוניות שברשותם שמור ומוגן מספיק . מלחמות , אסונות טבע, טעויות אנוש  וירוסים ,פריצות למערכות ועוד סיבות רבות אחרות יכולות לגרום לאובדן מידע, פגיעה במידע  וגרימת הפסדים גדולים לארגון .
חברת NETFIX מספקת ללקוחותיה מגוון פתרונות לשמירה והגנה על המידע הארגוני . </span>
            </div>
            <p>
                <strong><span style="color:#0000ff;">&gt;&nbsp;</span><span
                        style="font-family: arial, helvetica, sans-serif"><span style="font-size: 12px"><a
                        href="http://www.dcom.co.il/18.service"><span style="color:#0000ff;">פתרונות גיבוי והתאוששות מאסונות .</span></a></span></span></strong><br>
                <strong><span style="color:#0000ff;">&gt;&nbsp;</span><span
                        style="font-family: arial, helvetica, sans-serif"><span style="font-size: 12px"><a
                        href="http://www.dcom.co.il/19.service"><span
                        style="color:#0000ff;">פתרונות אבטחת מידע והגנה .</span></a></span></span></strong><br>
                <strong><span style="color:#0000ff;">&gt;&nbsp;</span><span
                        style="font-family: arial, helvetica, sans-serif"><span style="font-size: 12px"><a
                        href="http://www.dcom.co.il/סקירת-מערכות.service"><span style="color:#0000ff;">סקירת מערכות מחשוב ודו"ח המלצות.</span></a></span></span><br>
                    <span style="font-size: 12px"><span style="color:#0000ff;">&gt;&nbsp; </span><a
                            href="http://www.dcom.co.il/11.service"><span style="color:#0000ff;">שירות סינון וירוסים ודואר זבל בענן.</span></a></span></strong>
            </p>
        </div>

    </div>
    <div class="well">
        <h2>קצת על NETFIX</h2>

        <p>
            עיקר פעילותה של חברת NETFIX מיום הקמתה מבוססת על שירות ותמיכה למגזר העסקי.
            ב NETFIX אנו מספקים ללקוחותינו מגוון חבילות לשירות ותמיכה למערכות המחשוב הארגוניות.
            מנסיון של שנים עם לקוחות עסקיים אנו מבינים כי לכל לקוח צרכים שונים, ולכן חבילות השירות שלנו גמישות מאוד
            ומותאמות
            בדיוק לצרכי הלקוח.
            אפיון מדויק של צרכי לקוח, והתאמה נכונה של מסלול שירות מביאות לחסכון כלכלי ויעול מערכות המחשוב הארגוניות.


        </p>
    </div>
    <br>תהנו ותכתבו לנו,
    <br>קבוצת NETFIX.
</section>
<div id="copyrights">
		<span id="rightC"><strong>NETFIX בע"מ</strong>- חדרה וולפברג 2<br>
			 טל.054-7773554 פקס. 03-9413761
		</span>
		<span id="leftC">
			<br>
            <a href="http://www.art23.co.il/">Art23</a> <a href="http://www.art23.co.il/">בניית אתרים</a>
		</span>
</div>
<script>
    jQuery(function () {
        $('#slider').nivoSlider({
            effect: 'random',                 // Specify sets like: 'fold,fade,sliceDown'
            slices: 15,                     // For slice animations
            boxCols: 8,                     // For box animations
            boxRows: 4,                     // For box animations
            animSpeed: 500,                 // Slide transition speed
            pauseTime: 3000,                 // How long each slide will show
            startSlide: 0,                     // Set starting Slide (0 index)
            directionNav: true,             // Next & Prev navigation
            controlNav: true,                 // 1,2,3... navigation
            controlNavThumbs: false,         // Use thumbnails for Control Nav
            pauseOnHover: true,             // Stop animation while hovering
            manualAdvance: false,             // Force manual transitions
            prevText: 'Prev',                 // Prev directionNav text
            nextText: 'Next',                 // Next directionNav text
            randomStart: true             // Start on a random sli
        });
    });

</script>
