<div id="blueMain" dir="rtl">
    <div id="sMain"></div>
    <div id="kMain">
        <div id="whiteblock">
            <div id="whiteS"></div>
            <div id="whiteK">
                <div style="margin-right:5px;">
                    <div style="color:#3ebef1;
font-size:22px;
font-weight:bold;
float:right;">הקמה ושדרוג שרתים ורשתות
                    </div>
                    <br style="clear:both;">
                    <br>

                    <div style="margin-right:15px; margin-left:15px;">
                        <div dir="rtl" style="">
                            הקמה ושידרוג (<span dir="ltr">Migration</span>) של מערכות מחשוב ושרתים מצריכים אפיון המותאם
                            ללקוח, התאמת מוצרים ופתרונות המתאימים לו.
                        </div>
                        <p dir="rtl" style="">
                            לחברת NETFIX&nbsp;ניסיון רב באפיון צרכים ללקוחות עסקיים והתאמת פתרונות יצירתיים.<br style="">
                            לאורך השנים חברת NETFIX&nbsp;ביצעה מספר רב של שידרוגים והתקנות של מערכות שונות ללקוחות עסקיים
                            בתחומי פעילות שונים ולשביעות רצון הלקוחות. כחלק מפעילותינו ב <span dir="ltr">NETFIX</span>,
                            אנו מתמחים בהסבת שרתים וסביבות עבודה (<span dir="ltr">Migrations</span>) ללקוחות עסקיים.&nbsp;מומחי
                            המחשוב שלנו יעמדו לרשותך החל משלב היעוץ ואפיון הצרכים ועד תום הפרויקט</p>

                        <div dir="rtl" style="">
                            על הצד המקצועי ביותר לשביעות רצונך המלאה.&nbsp;&nbsp;</div>
                        <br>
                        <br>
                        <div style=" float: right;">
                            <a ui-sref="contactus">
                                <img alt="צור קשר" src="/modules/images/contactus.png"
                                     class="contactus"></a>
                        </div>
                        <div style=" float: right;margin-top: 73px;">
                           <span dir="rtl"><span dir="rtl"><strong><span style="color: #0000ff">&nbsp;
                                        <a>לקבלת פרטים נוספים והצעת
                                            מחיר</a>
                           </span>
                           </strong>
                           </span>
                           </span>
                        </div>
                        <div style="clear: both;"></div>
                        <br>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div id="whiteE"></div>
        </div>
        <div class="bottomBlock">

        </div>
        <div class="bottomBlock">
        </div>
        <div class="bottomBlock">
        </div>

        <div style="clear:both"></div>
    </div>
    <div id="eMain"></div>
</div>
