<div id="blueMain" dir="rtl">
    <div id="sMain"></div>
    <div id="kMain">
        <div id="whiteblock">
            <div id="whiteS"></div>
            <div id="whiteK">
                <div style="margin-right:5px;">
                    <div style="color:#3ebef1;
font-size:22px;
font-weight:bold;
float:right;">שירות Exchange (דואר ארגוני )  מנוהל</div>
                    <br style="clear:both;">
                    <br>
                    <div style="margin-right:15px; margin-left:15px;">
                        <div dir="rtl" style="">
                            שרתי הדואר הארגוני (<span dir="ltr">Exchange server</span>) מהווים כלי מרכזי בתקשורת המייל הארגוני, ניהול משימות ולו"ז. לצד היתרונות הרבים בשרתי Exchange&nbsp;ישנן גם עלויות, כגון:<br style="">
                            עלויות ההקמה הראשונית הכוללות חומרה ותוכנה.<br style="">
                            עלויות גיבוי מערכת.<br style="">
                            עלויות ניהול ותחזוקת השרת.<br style="">
                            עלויות אבטחת מידע והגנה בפני <span dir="ltr">SPAM</span>ווירוסים.<br style="">
                            עלויות צריכת חשמל וקירור.<br style="">
                            עלוית שדרוג בכל מספר שנים.<br>
                            לעיתים משתלם לארגונים מסויימים לקבל את שירותי הדואר האלקטרוני כשירות מנוהל (<span face="" style=""><span dir="ltr">Hosted Exchange</span></span>), במקום רכישת שרתים וניהולם באתר הלקוח. לדוגמא, בחברה בה אין<br style="">
                            כח אדם מתאים לטיפול וניהול שרת הדואר, או בשל עלויות הקמה יקרות ארגונים מסויימים מעדיפים&nbsp;לקבל את השירות ולשלם עליו בתשלומים חודשיים בפריסה נוחה.<br style="">
                            סיבה נוספת היא שבשירות (<span face="" style=""><span dir="ltr">Exchange Hosted</span>), הלקוח עובד תמיד עם הגרסא המעודכנת ביותר של השרת ואין צורך ברכישה של גרסאות&nbsp; שרת</span><span face="" style=""><span dir="ltr">&nbsp;</span>חדשות בכל מספר שנים.</span><br>
                            <br>
                            להלן מספר יתרונות בשירות מנוהל&nbsp;(<span face="" style=""><span dir="ltr">Exchange Hosted</span>):</span><br style="">
                            &gt; חסכון גדול בעלויות הקמה.<br>
                            &gt; אין צורך ברכישת שרת ורישיונות שרת.<br style="">
                            &gt; אין צורך בידע מיוחד לטיפול בשרת<span face="" style=""><span dir="ltr">Exchange </span></span>&nbsp;באתר לקוח.<br>
                            &gt; חסכון בצריכת חשמל - בשיטה זו הארגון חוסך עלות של שרת הצורך חשמל 365 ימים בשנה 24 שעות ביום.<br style="">
                            &gt; חסכון בעלויות נפחי גיבוי ומערכות גיבוי.<br>
                            &gt; פתרון DRP -&nbsp;כלול בשירות.<br>
                            &gt; זמינות מרבית - הגנה חשמלית UPS,&nbsp;<span face="" style="">ניתור ובקרה </span><span dir="ltr"><span face="">7X24 </span></span>&nbsp;בחוות שרתים כלולים בשירות.<br>
                            &gt; טיפול ובקרה ע"י מומחי מחשוב ושרתים.<br>
                            &gt; אבטחת מידע פיזית ולוגית- כלולים בשירות.<br>
                            &gt; סינון דואר זבל ווירוסים - כלול בשירות.<br>
                            &gt; קישור בפס רחב לאינטרנט- כלול בשירות.<br>
                            &gt; נגישות מכל מקום.<br>
                            &gt; גישה בSSL&nbsp;<span face="" style="">דרך הדפדפן מכל מקום, גישה דרך Outlook&nbsp;</span>מקושר מכל מקום בו יש אינטרנט, סנכרון מכשירי כף יד וטלפונים סלולאריים דרך האינטרנט.&nbsp;</div>
                        <br>
                        <img alt="" src="http://dcom.co.il/upload/Exh-Host.jpg" style="width: 225px; height: 225px"><br>
                        <br>
                        <table align="right" border="1" cellpadding="1" cellspacing="1" style="width: 500px">
                            <tbody>
                            <tr>
                                <td>
                                    <a href="http://www.dcom.co.il/contact.php"><img alt="צור קשר" src="http://dcom.co.il/upload/Contact.jpg" style="width: 100px; height: 24px"></a></td>
                                <td>
                                    <strong><span style="color: #0000ff">&nbsp;<a href="http://www.dcom.co.il/contact.php">לקבלת פרטים נוספים והצעת מחיר</a></span></strong></td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div id="whiteE"></div>
        </div>
        <div class="bottomBlock">

        </div>
        <div class="bottomBlock">
        </div>
        <div class="bottomBlock">
        </div>

        <div style="clear:both"></div>
    </div>
    <div id="eMain"></div>
</div>
