<div id="blueMain" dir="rtl">
    <div id="sMain"></div>
    <div id="kMain">
        <div id="whiteblock">
            <div id="whiteS"></div>
            <div id="whiteK">
                <div style="margin-right:5px;">
                    <div style="color:#3ebef1;
font-size:22px;
font-weight:bold;
float:right;">ניהול מערכות מחשוב ורשתות
                    </div>
                    <br style="clear:both;">
                    <br>

                    <div style="margin-right:15px; margin-left:15px;">
                        <p dir="rtl">
	<span dir="rtl">על ידי ניהול נכון ותחזוקה מונעת של מערכות מחשוב בעסק, ניתן למנוע תקלות רבות, ולהביא לביצועים טובים יותר של המערכות.<br>
	מערך המחשוב בעסק כולל מרכיבים רבים, כגון: שרתים ומחשבים, ציוד חומרה נלווה, ציוד תקשורת, תוכנות וגרסאות מערכות הפעלה, קישורים לספקי תקשורת ואינטרנט, בסיסי נתונים, מערכי גיבוי והתאוששות מאסונות ואבטחת מידע.<br>
	יש לזכור, מרכיבים אלו מיוצרים ומסופקים ע"י יצרנים שונים ולכן, פעילות תקינה ויעילה של מערכות המידע ורשת המחשבים בארגון תלויה במידה רבה באינטגרציה טובה בין גורמים אלו.<br>
	<br>
	כדי להבטיח פעילות תקינה של המערכת ולצמצם תקלות, יש לבצע פעולות תחזוקה ובדיקות קבועות למערכות המחשוב ולשרתים הארגוניים. בדיקות אלו כוללות, בין היתר, את העדכונים והשינויים הנחוצים בתוכנות ומערכות ההפעלה השונות, שדרוגים בציוד חומרה בהתאם לצורך, בדיקת תרחישי מערכת בשרתים לגילוי תקלות בשלב מוקדם, בדיקת מערכות הגיבוי, עדכון מערכות אבטחת המידע ואנטיוירוס, ניהול משתמשי רשת והרשאות, טיפול בתקלות ושינויים בהתאם לצורך.<br>
	<br>
	משימות אלו אשר דורשות ידע וניסיון רב בתחום, מבוצעות מדי יום ע"י מומחי המחשוב של&nbsp;<span dir="ltr">NETFIX</span> בארגונים רבים.<br>
	בכך, אנו מקנים ללקוחותינו שקט תעשייתי ותפוקה מקסימאלית, ע"י תפקוד יעיל של מערכות המחשוב.<br>
	ב <span dir="ltr">NETFIX</span> אנו מבינים כי לכל לקוח צרכים שונים מכאן, חבילות שירות אלו נבנות לאחר אפיון צרכים מדויק בשיתוף עם הלקוחות, על מנת לייצר את הפתרון המתאים ביותר עבורן.</span><br>
                            <br>
                            <span dir="rtl">כחברת מחשוב שעיקר פעילותה מבוססת על שירות ותמיכה בלקוחות קבועים</span><span
                                dir="rtl">, אנו משקיעים מאמצים רבים על מנת לספק את השירות הטוב ביותר&nbsp;והמתאים ביותר ללקוחותינו.</span><br>
                            יש לנו היכולת והנסיון לייעל את התמיכה במערכות המחשוב הארגוניות ולהוזיל עלויות תחזוקה.</p>
                        <br>
                        <br>
                        <br>

                        <div style=" float: right;">
                            <a ui-sref="contactus">
                                <img alt="צור קשר" src="/modules/images/contactus.png"
                                     class="contactus"></a>
                        </div>
                        <div style=" float: right;margin-top: 73px;">
                           <span dir="rtl"><span dir="rtl"><strong><span style="color: #0000ff">&nbsp;
                                        <a>לקבלת פרטים נוספים והצעת
                                            מחיר</a>
                           </span>
                           </strong>
                           </span>
                           </span>
                        </div>
                        <div style="clear: both;"></div>

                        <br>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div id="whiteE"></div>
        </div>
        <div class="bottomBlock">

        </div>
        <div class="bottomBlock">
        </div>
        <div class="bottomBlock">
        </div>

        <div style="clear:both"></div>
    </div>
    <div id="eMain"></div>
</div>
