<div id="blueMain" dir="rtl">
    <div id="sMain"></div>
    <div id="kMain">
        <div id="whiteblock">
            <div id="whiteS"></div>
            <div id="whiteK">
                <div style="margin-right:5px;">
                    <div style="color:#3ebef1;
font-size:22px;
font-weight:bold;
float:right;">ניהול וביצוע פרויקטים</div>
                    <br style="clear:both;">
                    <br>
                    <div style="margin-right:15px; margin-left:15px;">
                        <p dir="rtl" style="">
	<span dir="rtl"><span dir="rtl">לחברת NETFIX</span><span dir="rtl">&nbsp;ניסיון רב בתכנון וביצוע פרויקטים בתחום מערכות מחשוב ושרתים לארגונים שונים.<br>
	<span face="">אנו מספקים קשת רחבה של פתרונות, תיאום מלא בין כל הגורמים וצוות מיומן ומקצועי&nbsp;המבטיח את הצלחת הפרויקט.<br>
	לאחר לימוד מעמיק של צרכי ארגונך, נבנה עבורך תוכנית מסודרת לביצוע הפרויקט.<br>
	במשך כל התהליך תקבל ליווי צמוד של מנהל הפרויקט לכל שאלה ועניין.<br>
	לאחר הסבר מפורט של התהליכים וקבלת אישורך לביצוע, הצוות המקצועי יבצע עבורך את הפרויקט על הצד הטוב ביותר.<br>
	<br>
	מומחי&nbsp;המחשוב שלנו יבצעו <strong>עבורכם</strong>:<br>
	&nbsp; &gt; לימוד פעילות עסקית של ארגונך.<br>
	&nbsp;&nbsp;&gt; מיפוי מערכות המידע ורשת המחשוב הארגונית.<br>
	&nbsp; &gt; אפיון צרכים מחשוביים&nbsp; והצבת יעדים.<br>
	&nbsp; &gt; התאמת פתרונות יצירתיים בהתאם לצרכי ארגונך&nbsp;ובהתאם לתקציב הפרויקט.<br>
	&nbsp; &gt; אינטגרציה ותיאום מול כל הגורמים והספקים.<br>
	&nbsp; &gt; התאמת&nbsp;פתרונות חומרה ותוכנה.<br>
	&nbsp; &gt; הקמת סביבת בדיקה והדמייה.<br>
	&nbsp; &gt; ביצוע הפרויקט לשביעות רצונך המלאה.<br>
	&nbsp; &gt; הכנת תיק לקוח מסכם.</span></span></span></p>
                        <p>
                            <br>
                            &nbsp;</p>
                        <br>
                        <div style=" float: right;">
                            <a ui-sref="contactus">
                                <img alt="צור קשר" src="/modules/images/contactus.png"
                                     class="contactus"></a>
                        </div>
                        <div style=" float: right;margin-top: 73px;">
                           <span dir="rtl"><span dir="rtl"><strong><span style="color: #0000ff">&nbsp;
                                        <a>לקבלת פרטים נוספים והצעת
                                            מחיר</a>
                           </span>
                           </strong>
                           </span>
                           </span>
                        </div>
                        <div style="clear: both;"></div>
                        <br>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div id="whiteE"></div>
        </div>
        <div class="bottomBlock">

        </div>
        <div class="bottomBlock">
        </div>
        <div class="bottomBlock">
        </div>

        <div style="clear:both"></div>
    </div>
    <div id="eMain"></div>
</div>
