<div id="blueMain" dir="rtl">
    <div id="sMain"></div>
    <div id="kMain">
        <div id="whiteblock">
            <div id="whiteS"></div>
            <div id="whiteK">
                <div style="margin-right:5px;">
                    <div style="color:#3ebef1;
font-size:22px;
font-weight:bold;
float:right;">שירותי מיקור חוץ לעסקים - Out Sourcing</div>
                    <br style="clear:both;">
                    <br>
                    <div style="margin-right:15px; margin-left:15px;">
                        <div dir="rtl" style="">
                            חברת <span dir="ltr">NETFIX</span>&nbsp;מספקת כח אדם מקצועי ומיומן בהיקפי משרה שונים לפי צרכי הלקוח.<br style="">
                            גיבוי צוות מחשוב של הלקוח.<br style="">
                            הקמה וניהול&nbsp;צוות תמיכת HELP DESK בשיטת <span dir="ltr">Out Sourcing</span>.<br style="">
                            מנהלי מהנדסי מערכות מחשוב לניהול שרתים ומערכות המחשוב באתר הלקוח.<br style="">
                            כח אדם מקצועי לביצוע פרויקטים ללקוחות.<br style="">
                            מומחים בתחומים ספציפיים.&nbsp;&nbsp;</div>
                        <div dir="rtl" style="">
                            <strong style=""><u style="">יתרונות במיקור חוץ (</u></strong><u style=""><span dir="ltr">OUTSOURCING</span></u><strong style=""><u style="">):</u></strong><br style="">
                            <br style="">
                            <strong style="">1. לאפשר להנהלת הארגון להתמקד במיומנויות הליבה של הארגון</strong><br style="">
                            &nbsp; &nbsp; לעיתים ארגונים רבים משקיעים זמן ותשומת לב מרובים לנושאים תפעוליים של טכנולוגית-המידע ומחשוב, במקום<br style="">
                            &nbsp;&nbsp;&nbsp; להתמקד בנושאים שהם ליבת פעילותם העסקית.<br style="">
                            &nbsp;&nbsp; &nbsp;עבודה מול גורם חיצוני (<span dir="ltr">OUTSOURSING</span>) ,מאפשר לארגון להפנות משאבים יקרים לנושאים שהם ליבת הפעילות<br style="">
                            &nbsp;&nbsp;&nbsp; הארגונית, ולהעביר אחריות כבדה של מערכות מחשוב לידי גורם מקצועי המתמחה בנושא.<br style="">
                            &nbsp;&nbsp;&nbsp;&nbsp;</div>
                        <div dir="rtl" style="">
                            <strong style="">2. קושי בהתמודדות עם מערכות מידע וטכנולוגיה</strong><br style="">
                            &nbsp;&nbsp;&nbsp; טכנולוגיות מערכות המחשוב והמידע הפכו מגוונות, מורכבות וקצב השינויים בתחום זה לעיתים מסחרר. בעידן של<br style="">
                            &nbsp;&nbsp;&nbsp; טכנולוגיות מגוונות ורבות, קצב שינויים וקידום מהיר כל כך, דרוש ידע רב וקצב התחדשות מהיר ע"מ להגיע לניצולת<br style="">
                            &nbsp;&nbsp;&nbsp; מקסימאלית ותפעול נכון של מערכות המחשוב. אגפי מערכות-מידע ומחשוב בארגונים מתקשים לתחזק ולתפעל את מגוון &nbsp;&nbsp;&nbsp;&nbsp;<br style="">
                            &nbsp;&nbsp;&nbsp; הפתרונות הקיימים, כמו גם לבחון, לנתח וליישם טכנולוגיות חדשות אלו לטובת ארגוניהם.<br style="">
                            &nbsp;&nbsp;&nbsp; ספק שירותי מחשוב חיצוני או שירות (<span dir="ltr">OUTSOURCING </span>&nbsp;) יכול לתת פתרון טוב ומועיל לנושא.</div>
                        <div dir="rtl" style="">
                            <br>
                            <strong style="">3. בעיות בגיוס והחזקת צוות מקצועי</strong><br style="">
                            &nbsp;&nbsp;&nbsp; כדי לתמוך בטכנולוגית-המידע, ארגונים רבים נתקלים במספר קשיים:<br style="">
                            <strong style="">&nbsp; &nbsp; א.</strong> קושי בגיוס אדם מקצועי לתחזוקה ותמיכה במערכת.<br style="">
                            <strong style="">&nbsp; &nbsp; ב.</strong> לעיתים גם היקף המשרה הינה חלקית ולא מצדיקה גיוס עובד במשרה מלאה לטובת העניין.<br style="">
                            <strong style="">&nbsp; &nbsp; ג.</strong> החלפת איש הסיסטם בארגון כרוך בפיטורי עובד והכשרת מחליף<br style="">
                            <strong style="">&nbsp; &nbsp; ד.</strong> ניתן לייעל את התהליך בעבודה עם שירות מיקור חוץ (<span dir="ltr">OUTSOURCING</span>), בכך שמאחורי איש הסיסטם&nbsp;באתר&nbsp;תמיד&nbsp;קיימת חברה<br>
                            &nbsp; &nbsp; &nbsp; &nbsp; שמחזיקה את הידע, ובקיעה במערכות הלקוח.</div>
                        <div dir="rtl" style="">
                            <br>
                            <strong style="">4. אינטגרציה וקישור מערכות</strong><br style="">
                            &nbsp;&nbsp;&nbsp; ארגונים רבים מתחזקים מספר שרתים ומערכות מגוונות. על מנת להגיע לניצולת מקסימאלית של המערכות, ובכדי למנוע<br style="">
                            &nbsp;&nbsp;&nbsp; תקלות של התנגשויות וחוסר תאימות, יש &nbsp;צורך בידע במערכות שונות. לא תמיד לאיש סיסטם אחד בארגון יש את כל הידע &nbsp;&nbsp;<br style="">
                            &nbsp;&nbsp;&nbsp; הדרוש לניהול כל המערכות.<br style="">
                            &nbsp;&nbsp;&nbsp; לכן, ארגונים רבים שמחזיקים איש מחשוב פנימי, בנוסף עזרים במיקור חוץ (<span dir="ltr">OUTSOURCING</span>)<br style="">
                            &nbsp;&nbsp;&nbsp; מספק שירותים חיצוני, עבור נושאים מערכות ספציפיות.</div>
                        <div dir="rtl" style="">
                            <br>
                            <strong style="">5. פיקוח וניהול תקציב<br style="">
                                &nbsp;&nbsp;&nbsp; </strong>בעבודה עם ספק שירותים חיצוני, לעיתים קרובות ארגון יכול לחסוך בעלויות מחשוב שנתיות בשל היכולת לנהל תקציב<br style="">
                            &nbsp;&nbsp; &nbsp;נכון. בבחירת הסכם שירות מתאים, הלקוח יכול לשלוט כמעט שליטה מלאה בהוצאות המחשוב.</div>
                        <div dir="rtl" style="">
                            <br>
                            <strong style="">6. רמת שירות גבוהה והמשכיות</strong><br style="">
                            &nbsp;&nbsp; &nbsp;בעבודה עםשירות (<span dir="ltr">OUTSOURCING</span>) הארגון אינו תלוי באדם בודד האחראי על מערכת המחשוב. במקרה של העדר &nbsp;&nbsp;&nbsp;&nbsp;<br style="">
                            &nbsp;&nbsp;&nbsp; איש הסיסטם, ספק השירותים יכול לספק אדם מקצועי נוסף כממלא מקום או לחלופין תמיכה נקודתית במידה<br style="">
                            &nbsp; &nbsp; ואיש הסיסטם נמצא או אינו זמין באותו הרגע.</div>
                        <div dir="rtl" style="">
                            <br>
                            <strong style="">7. הדרכת צוות מקצועי</strong><br style="">
                            &nbsp;&nbsp;&nbsp; בתחום מתקדם ודינאמי כל כך כמו מערכות מידע ומחשוב, יש צורך לשמור על ידע עדכני של&nbsp; אנשי המחשוב בארגון. הדבר &nbsp;&nbsp;&nbsp;&nbsp;<br style="">
                            &nbsp;&nbsp;&nbsp; מצריך הוצאות לימוד והדרכה רבות אשר מגדילות את הוצאות המחשוב השנתיות.<br style="">
                            &nbsp;&nbsp;&nbsp; ארגונים רבים בוחרים בשירות מיקור חוץ (<span dir="ltr">OUTSOURCING</span>), על מנת להנות מאנשי שירות מקצועיים אשר מקבלים את &nbsp;&nbsp;&nbsp;<br style="">
                            &nbsp;&nbsp;&nbsp; ההדרכות הללו ממקום עבודתם, ובכך ארגונים אלו חוסכים עלויות הדרכה ומצמצמים את תקציב המחשוב.&nbsp;יש גורמים שאינם&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br style="">
                            &nbsp;&nbsp;&nbsp; קשורים במערכות-מידע ומחשוב משפיעים ותומכים בהחלטות למיקור-חוץ. בעולם העסקי הדינאמי כיום, מרובים המיזוגים, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br style="">
                            &nbsp;&nbsp;&nbsp; פיצולים, שיתופי פעולה וכד' בין ארגונים וחברות.בבחינת מהלכים כאלו, תמיד עולה אופציית מיקור-החוץ, כהזדמנות עסקית<br style="">
                            &nbsp;&nbsp;&nbsp; ו/או תפעולית.&nbsp;חברת NETFIX&nbsp;מתמחה בניהול מערכות מחשוב במסגרת הסכם מיקור חוץ (<span dir="ltr">OUTSOURCING</span>) המותאם<br style="">
                            &nbsp;&nbsp; &nbsp;לארגונים&nbsp;לפי צרכיהם.</div>
                        <br>
                        <div style=" float: right;">
                            <a ui-sref="contactus">
                                <img alt="צור קשר" src="/modules/images/contactus.png"
                                     class="contactus"></a>
                        </div>
                        <div style=" float: right;margin-top: 73px;">
                           <span dir="rtl"><span dir="rtl"><strong><span style="color: #0000ff">&nbsp;
                                        <a>לקבלת פרטים נוספים והצעת
                                            מחיר</a>
                           </span>
                           </strong>
                           </span>
                           </span>
                        </div>
                        <div style="clear: both;"></div>
                        <br>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div id="whiteE"></div>
        </div>
        <div class="bottomBlock">

        </div>
        <div class="bottomBlock">
        </div>
        <div class="bottomBlock">
        </div>

        <div style="clear:both"></div>
    </div>
    <div id="eMain"></div>
</div>
