<div id="blueMain" dir="rtl">
    <div id="sMain"></div>
    <div id="kMain">
        <div id="whiteblock">
            <div id="whiteS"></div>
            <div id="whiteK">
                <div style="margin-right:5px;">
                    <div style="color:#3ebef1;
font-size:22px;
font-weight:bold;
float:right;">פתרונות גיבוי והתאוששות מאסון
                    </div>
                    <br style="clear:both;">
                    <br>

                    <div style="margin-right:15px; margin-left:15px;">
                        <strong>חשיבות גיבוי&nbsp;ומערך התאוששות מאסון </strong><strong><span dir="ltr">Disaster Recovery</span></strong><br>
                        &nbsp;<br>
                        &nbsp;<br>
                        <strong>חשיבות גיבוי </strong><strong><span dir="ltr">Disaster Recovery </span></strong>&nbsp;בארגון
                        היא עצומה ושיבוש של זמינות המשאבים הטכנולוגים בחברה יכולה להיות בעלת השלכות חמורות. הסכנות
                        האורגות לארגון הן רבות ובלתי צפויות כמו רעידת אדמה, קריסת שרתים, הצפה, תקלות חשמל, שריפה,
                        אירועים ביטחוניים וכו'.<br>
                        במקרים אלו חשוב שתהיה לארגון תוכנית להמשכיות עסקית&nbsp;שכוללת פתרונות גיבוי או שכפול המידע לאתר
                        מאובטח מחוץ למשרדי החברה.<br>
                        &nbsp;<br>
                        <strong>פתרון גיבוי </strong><strong><span dir="ltr">Disaster Recovery </span></strong>&nbsp;כולל
                        תקנות ונהלים שונים לפיהם הארגון פועל ומיישם מערכות שונות <strong>להתאוששות מאסון</strong>.
                        הארגון יכול לדאוג לאבטחת שרידות המידע שלו באמצעות שמירת קלטות גיבוי מחוץ לארגון, שיכפול של מידע
                        והשרתים לסביבה וירטואלית &nbsp;ועוד.&nbsp;<br>
                        <br>
                        חברת <strong><span dir="ltr">NETFIX</span></strong> היא חברה מנוסה ומקצועית המובילה בתחום של
                        <strong>פתרונות </strong><strong><span dir="ltr">IT</span></strong> מתקדמים, וכחלק&nbsp;מסל
                        שירותיה מספקת פתרונות חכמים ל<strong>גיבוי והתאוששות מאסונות (</strong><strong><span dir="ltr">Disaster Recovery</span></strong><strong>)</strong>
                        המותאמים לאופי הארגון ולתקציב שלה.<br>
                        <br>
                        <div style=" float: right;">
                            <a ui-sref="contactus">
                                <img alt="צור קשר" src="/modules/images/contactus.png"
                                     class="contactus"></a>
                        </div>
                        <div style=" float: right;margin-top: 73px;">
                           <span dir="rtl"><span dir="rtl"><strong><span style="color: #0000ff">&nbsp;
                                        <a>לקבלת פרטים נוספים והצעת
                                            מחיר</a>
                           </span>
                           </strong>
                           </span>
                           </span>
                        </div>
                        <div style="clear: both;"></div>
                        <br>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div id="whiteE"></div>
        </div>
        <div class="bottomBlock">

        </div>
        <div class="bottomBlock">
        </div>
        <div class="bottomBlock">
        </div>

        <div style="clear:both"></div>
    </div>
    <div id="eMain"></div>
</div>
