<div id="blueMain" dir="rtl">
    <div id="sMain"></div>
    <div id="kMain">
        <div id="whiteblock">
            <div id="whiteS"></div>
            <div id="whiteK">
                <div style="margin-right:5px;">
                    <div style="color:#3ebef1;
font-size:22px;
font-weight:bold;
float:right;">סקירת מערכות
                    </div>
                    <br style="clear:both;">
                    <br>

                    <div style="margin-right:15px; margin-left:15px;">
                        <p dir="rtl" style="">
                            <strong>מטרת הסקירה</strong> - לתת ללקוח דו"ח מפורט על מבנה מערכות המחשוב הארגוניות&nbsp;שברשותו
                            והצעות להתייעלות, תוך דגש על נושאים חשובים ביניהם:<br style="">
                            &gt; מערכות האבטחה הארגוניות.<br style="">
                            &gt; ייעול תקשורת והעברת נתונים.<br style="">
                            &gt; מערכות גיבוי ובחינת יכולת להתאוששות מאסונות.<br style="">
                            &gt; מערכת הרשאות וניהול משתמשים.<br style="">
                            &gt; מדיניות ארגונית.<br style="">
                            &gt; שרתים ותמיכה טכנולוגית.<br style="">
                            &gt; אפשרויות להתייעלות וחסכון בעלויות.<br style="">
                            <br style="">
                            מומחי המחשוב שלנו ילמדו על פעילות ארגונך ולאחר בדיקה מקיפה יוגש לך דו"ח סקירת אתר<br
                                style="">
                            עם כל הממצאים, הצעות היעול והפתרונות לכל הנושאים.</p>
                        <br>
                        <br>
                        <table align="right" border="1" cellpadding="1" cellspacing="1" style="width: 500px">
                            <tbody>
                            <tr>
                                <td>
                                    <a href="http://www.dcom.co.il/contact.php"><img alt="צור קשר"
                                                                                     src="http://dcom.co.il/upload/Contact.jpg"
                                                                                     style="width: 100px; height: 24px"></a>
                                </td>
                                <td>
                                    <strong><span style="color: #0000ff">&nbsp;<a
                                            href="http://www.dcom.co.il/contact.php">לקבלת פרטים נוספים והצעת
                                        מחיר</a></span></strong></td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        &nbsp;            </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div id="whiteE"></div>
        </div>
        <div class="bottomBlock">

        </div>
        <div class="bottomBlock">
        </div>
        <div class="bottomBlock">
        </div>

        <div style="clear:both"></div>
    </div>
    <div id="eMain"></div>
</div>
