<div id="blueMain" dir="rtl">
    <div id="sMain"></div>
    <div id="kMain">
        <div id="whiteblock">
            <div id="whiteS"></div>
            <div id="whiteK">
                <div style="margin-right:5px;">
                    <div style="color:#3ebef1;
font-size:22px;
font-weight:bold;
float:right;">שירותי אבטחת מידע
                    </div>
                    <br style="clear:both;">
                    <br>

                    <div style="margin-right:15px; margin-left:15px;">
                        <div dir="rtl" style="">
	<span dir="rtl">מערכות המידע מהוות חלק מרכזי ובלתי נפרד מתפקודה של כל חברה. מערכות אלו מכילות את כלהמידע הנחוץ לתפעולו השוטף של העסק. עם הזמן ניתן לראות בבירור שהצלחתו של כל עסק תלויה במידה ניכרת באיכות מערכת המידע שלו, ואף ניצול נכון של משאבי המחשוב העומדים לרשותו. אבטחת המידע בארגון היא מרכיב חיוני ביותר להמשך פעילותו של העסק ויש לייחס אליו חשיבות רבה מאחר ומדובר במידע שהפגיעה בו, או לעיתים קרובות אף חשיפתו, עלולה להביא לנזקים כבדים לארגון עד כדי הפסדים כספיים גדולים העלולים לסכן את המשך פעילותו התקנית של העסק.<br>
	אבטחת מידע הוא נושא מורכב שדורש תכנון מקצועי והתאמת הפתרון לצרכיו הספציפיים של הארגון.<br>
	להלן, מספר צעדים בסיסיים בהם נוקטים בכדי להקדים תרופה למכה:<br>
	<br>
	הדרכה נכונה של משתמשי המחשב בעסק הוא אחד הדברים החשובים והבסיסיים.<br>
	אבטחת מערכת האי-מייל, היא משימה חשובה שאין להמעיט בערכה מאחר שזו היא אחת הכניסות&nbsp;הפתוחות יותר לרשת הפנימית של החברה.<br>
	יש להקפיד על חסימת מיילים לא&nbsp;רצויים המכילים וירוסים או קודים עוינים אחרים לפני הגעתם לתיבת המשתמש או למחשבו האישי.<br>
	תכנון נכון של אנטי וירוס בתחנות ובשרתים הוא שלב חובה שאין לדלג עליו.<br>
	ע"י התקנה ותכנון נכון ומדויק של <strong>FIREWALL</strong>&nbsp;</span><span dir="rtl">ניתן להקטין משמעותית את הסיכויים לפריצה למערכת.<br>
	אבטחה פיזית של השרתים בהתאם לנתוני העסק.<br>
	הצפנת סיסמאות העוברות ברשת.<br>
	הצפנת מידע וערוצים מאובטחים בגישה מרוחקת למידע.<br>
	תכנון נכון של סיסמאות ומדיניות אבטחה פנים ארגונית.<br>
	<br>
	אלו הם חלק מתוך הצעדים הבסיסיים בהם יש לנקוט בכדי להגן על מערכות המידע בארגון, כאשר לכולם דרוש מיומנות ומקצועיות רבה ותחזוקה נכונה המבטיחה את פעילותם התקינה של המערכות ואת יעילותם המתמידה מול איומים חדשים.</span>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div style=" float: right;">
                            <a ui-sref="contactus">
                                <img alt="צור קשר" src="/modules/images/contactus.png"
                                     class="contactus"></a>
                        </div>
                        <div style=" float: right;margin-top: 73px;">
                           <span dir="rtl"><span dir="rtl"><strong><span style="color: #0000ff">&nbsp;
                                        <a>לקבלת פרטים נוספים והצעת
                                            מחיר</a>
                           </span>
                           </strong>
                           </span>
                           </span>
                        </div>
                        <div style="clear: both;"></div>
                        <br>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div id="whiteE"></div>
        </div>
        <div class="bottomBlock">

        </div>
        <div class="bottomBlock">
        </div>
        <div class="bottomBlock">
        </div>

        <div style="clear:both"></div>
    </div>
    <div id="eMain"></div>
</div>
