<div id="blueMain" dir="rtl">
    <div id="sMain"></div>
    <div id="kMain">
        <div id="whiteblock">
            <div id="whiteS"></div>
            <div id="whiteK">
                <div style="margin-right:5px;">
                    <div style="color:#3ebef1;
font-size:22px;
font-weight:bold;
float:right;">שרתים ומערכות בענן</div>
                    <br style="clear:both;">
                    <br>
                    <div style="margin-right:15px; margin-left:15px;">
                        <strong><u>פתרונות המשרד הוירטואלי</u></strong><br>
                        תחשבו לרגע מה צריך המשרד שלכם :
                        <ul>
                            <li dir="rtl">
                                אפליקציית <span face=""><span dir="ltr">ERP</span>או </span><span face=""><span dir="ltr">CRM</span>שמשמשת אתכם .</span></li>
                            <li dir="rtl">
                                שירות דואר אלרקטרוני (<span face=""><span dir="ltr">Exchange server</span>) מלא .</span></li>
                            <li dir="rtl">
                                תיקיות משותפות לעובדי המשרת לפי הרשאות גישה מוגדרות.</li>
                            <li dir="rtl">
                                תקורת בפס רחב לאינטרנט.</li>
                            <li dir="rtl">
                                תמיכה בסנכרון <span face=""><span dir="ltr">Mobile</span>(כגון טלפונים סלולאריים, מכשירי </span><span face=""><span dir="ltr">PAD</span>, </span><span face=""><span dir="ltr">Blackberry</span>).</span></li>
                            <li dir="rtl">
                                אבטחת מידע .</li>
                            <li dir="rtl">
                                שירותי גיבוי והתאוששות מאסונות- <span face=""><span dir="ltr">Disaster Recovery</span>.</span></li>
                            <li dir="rtl">
                                ניתור ובקרת מערכות <span dir="ltr"><span face="">24 X 7</span></span>.</li>
                            <li dir="rtl">
                                שירותי תמיכה וסיסטם לשרתים ומשתמשי קצה.</li>
                        </ul>
                        עכשיו&nbsp; תארו לעצמכם שכל זה הוא וירטואלי&nbsp; ונגיש בצורה מאובטחת מכל מקום שתבחרו.<br>
                        תארו כמה נוח יהיה לפתוח שלוחה סניף בארץ או אפילו בחו"ל .<br>
                        כמה נוח יהיה להפעיל אנשי שטח עם מחשבים ניידים ,ולאפשר עבודה מהבית לעובדים<strong>.</strong><br>
                        <br>
                        <strong><u>כמה אתם חוסכים :</u></strong><br>
                        אתם לא צריכים לרכוש שרתים ,תוכנות יקרות , מוצרי אבטחה יקרים (<span face=""><span dir="ltr">Fire Wall, Mail security</span></span>).<br>
                        אין לכם צורך בפתרונות גיבוי ו <span face=""><span dir="ltr">DRP</span>, ותחסכו ברכישת </span><span face=""><span dir="ltr">UPS</span></span>יהגנה חשמלית לשרתים.<br>
                        אתם חוסכים בחשמל רב אשר נצרך ע"י השרתים ומערכות הקירור שנועדו לקרר אותם.&nbsp;<br>
                        <br>
                        <strong><u>לסיכום:</u></strong><br>
                        הפתרון של המשרד הוירטואלי המנוהל ,הינו פתרון יעיל שיכון לחסוך לכם הרבה כסף ,ולתרום<br>
                        לייעול עבודה של משרדכם ולאפשר תמיכה בפריסת מערכות והתרחבויות עתידיות .<br>
                        יש לבצע אפיון מדויק של צרכי הארגון לפני מעבר לשיטה זו . לעיתים ניתן להעביר את כל יישומי<br>
                        המשרד לסביבה וירטואלית מנוהלת ,ולעיתים רק חלק מהם.<br>
                        ישנם פתרונות רבים לתצורות אלו וחובה לקבל יעוץ ואפיון ע"י מומחה .&nbsp;<br>
                        <br>
                        <img alt="מחשוב ענן" src="http://dcom.co.il/upload/Cloud.jpg" style="width: 236px; height: 214px"><br>
                        <br>
                        <table align="right" border="1" cellpadding="1" cellspacing="1" style="width: 500px">
                            <tbody>
                            <tr>
                                <td>
                                    <a href="http://www.dcom.co.il/contact.php"><img alt="צור קשר" src="http://dcom.co.il/upload/Contact.jpg" style="width: 100px; height: 24px"></a></td>
                                <td>
                                    <strong><span style="color: #0000ff">&nbsp;<a href="http://www.dcom.co.il/contact.php">לקבלת פרטים נוספים והצעת מחיר&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div id="whiteE"></div>
        </div>
        <div class="bottomBlock">

        </div>
        <div class="bottomBlock">
        </div>
        <div class="bottomBlock">
        </div>

        <div style="clear:both"></div>
    </div>
    <div id="eMain"></div>
</div>
